#main {
    background-color: rgb(246, 228, 215);
    display: table;
}

.cell-div {
    width: 98px;
    height: 98px;
    border: 1px solid rgb(172, 101, 21);
    display: table-cell;
    color: rgb(252, 233, 215);
    text-align: center;
    vertical-align: middle;
}
.cell-div span {
    font-size: xx-large;
}
.row-div{
    display: table-row;
}